.contactme-bgc {
    background-color: #1ABC9C;
}

.contactme {
    padding: 3rem;
}

.contactme h2 {
    padding: 1rem;
    color: #F2F3F4;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
}

.contactme label {
    color: #F2F3F4;
    font-size: 1.4rem;
    font-weight: 400;
}

.contactme .contact-btn {
    font-size: 1.2rem;
    padding: 0.5rem 1.5rem;
    border-radius: 10px;
    color: #F2F3F4;
    border-color: #F2F3F4;
}

.contactme .contact-btn:hover {
    /* color: #1ABC9C; */
    background-color: #F2F3F4;
}