.footer-bgc {
    background-color: #0d1730;
}

.footer {
    padding-top: 3rem;
}

.footer .links {
    padding-top: 3rem;
    text-align: center;
}

.footer h3, .footer p {
    color: #b5b0aa;
}

.footer h3 {
    font-size: 1.5rem;
    padding: 0.5rem 0;
}

.footer .links img {
    width: 3rem;
    margin: 0 20px;
}

.footer p {
    height: 30px;
    color: #fff;
    text-align: center;
    padding-top: 8px;
}