.home {
    margin: 7rem 0;
    padding: 6rem 1rem;
  }
  
  .home h1 {
    font-size: 7rem;
    font-weight: 800;
  }
  
  .home h2 {
    font-size: 4rem;
    font-weight: 400;
  }
  
  div.heading > div {
    animation-delay: 0;
  }
  div.heading > div:nth-child(2) > h1 {
    animation-delay: 0.05s;
  }
  
  div.heading > div {
    animation-delay: 0;
  }
  div.heading > div:nth-child(3) > h2 {
    animation-delay: 0.075s;
  }
  
  .slide-up {
    animation: slide-up 0.9s cubic-bezier(0.65, 0, 0.35, 1) both;
  }
  
  @keyframes slide-up {
    0% {
      transform: translateY(100px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  @media screen and (max-width: 768px) {
    .home {
      margin: 4rem 0;
      padding: 4rem 1rem;
    }
  
    .home h1 {
      font-size: 6rem;
    }
  
    .home h2 {
      font-size: 3rem;
    }
  }