.navbar {
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(8px);
    width: 500px;
    position: fixed;
    z-index: 10;
    bottom: 1rem;
    border-radius: 30px;
}

.navbar-brand, .nav-link, .nav-btn {
    color: #F2F3F4;
}

.navbar-brand:hover, .nav-link:hover {
    color: #D7DBDD;
}

.nav-btn {
    border-color: #F2F3F4;
}

.nav-btn:hover {
    color: #D7DBDD;
    border-color: #D7DBDD;
}

.navbar svg {
    color: #f5f5f5;
}

@media screen and (max-width: 768px) {
    .navbar {
        width: 95%;
    }
}